body {
    /* filter: blur(0.8px); */
    background: #000000;
    color: #ffffff;
    height: 800px;
    width: 1280px;
    margin: 0 auto;
}

.header {
    background: #00309c;
    height: 110px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-image:   linear-gradient(90deg, rgba(90,126,220,0) 18%, rgba(172,194,242,1) 50%, rgba(90,126,220,0) 82%);
    -moz-border-image: linear-gradient(90deg, rgba(90,126,220,0) 18%, rgba(172,194,242,1) 50%, rgba(90,126,220,0) 82%);
    -webkit-border-image:  linear-gradient(90deg, rgba(90,126,220,0) 18%, rgba(172,194,242,1) 50%, rgba(90,126,220,0) 82%);
    border-image-slice: 1;
}

.main {
    width: 100%;
    height: 640px;
    background: #5a7edc;
}
.main::before {
    content: '';
    /* background-color: ; */
}
.footer{
    background: #00309c;
    height: 110px;
    width: 100%;
    border-top: 4px solid transparent;
    border-image:   linear-gradient(90deg, rgba(90,126,220,0) 18%, rgba(172,194,242,1) 50%, rgba(90,126,220,0) 82%);
    -moz-border-image: linear-gradient(90deg, rgba(90,126,220,0) 18%, rgba(172,194,242,1) 50%, rgba(90,126,220,0) 82%);
    -webkit-border-image:  linear-gradient(90deg, rgba(90,126,220,0) 18%, rgba(172,194,242,1) 50%, rgba(90,126,220,0) 82%);
    border-image-slice: 1;
}